@media (max-width: 900px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        background-color: #fef0fa;
        z-index: 103;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-bottom: 1rem;
    }

    .navbar-nav .nav-link {
        padding: 1rem 0.1rem;
    }

    .navbar-brand {
        display: none;
    }
}
