*{
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    width: 80%; 
    margin: auto; 
    margin-top: 30px; 
    background-color: #fff; 
    padding: 25px; 
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.isi-content {
    width: 50%;
    padding: 3rem 0rem;
    margin: 5px auto;
    text-align: justify;
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 16px;
}

.humberger {
    display: none;
}

div i {
    font-size: 30px; 
    padding-left: 5%;
    align-items: center;
    position: relative;
    left: 25%;
}


.humberger-item {
    display: flex;
    flex-direction: column;
    display: none;
   color: black;
   justify-content: center;
   align-items: center;
   text-align: center;
   text-decoration: none;
}

.humberger-1 {
    text-decoration: none;
    color: black;

}

.humberger-item a:hover {
    color: white;
    background-color: black;
} 

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        align-items: flex-start; 
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li, .right {
        margin: 0;
        margin-bottom: 10px;
        display: none;
    }

    div i {
        left: 0;
    }

    .content {
        padding: 10px;
    }

    .content h1 {
        font-size: 20px;
    }

    .content p {
        font-size: 14px;
    }

    .content i.fa-solid.fa-arrow-down-long {
        font-size: 18px;
    }

    .humberger {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        flex-direction: column;
        color: black;
    }

    .humberger-item {
        top: 60px;
        padding: 10px;
        color: black;
        width: 100%;
        flex-direction: column;
        text-decoration: none;
        transition: color 0.3s;
        display: flex;
    }
}
